<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Client Registration</display-name>
  
     <context-param>
       <param-name>username </param-name>
       <param-value>ura</param-value>
            
     </context-param>

     <context-param>
        <param-name>password </param-name>
       <param-value>Abcd1234</param-value>

     </context-param>

     <context-param>
       
       <param-name>dbclass </param-name>
       <param-value>oracle.jdbc.driver.OracleDriver</param-value>

     </context-param>



     <context-param>
       
        <param-name>dbdrivers </param-name>
       <param-value>jdbc:oracle:thin:@localhost:1521:xe</param-value>
       

     </context-param>


     
       <servlet>
            <servlet-name>clientreg</servlet-name>
            <servlet-class>com.zaic.web.UraServletOne</servlet-class>
       
       </servlet>
       
       <servlet-mapping>
          <servlet-name>clientreg</servlet-name>
          <url-pattern>/client.hawa</url-pattern>
       
       </servlet-mapping>

       <servlet>
            <servlet-name>insertclient</servlet-name>
            <servlet-class>com.zaic.web.UraServletTwo</servlet-class>
       
       </servlet>

        <servlet-mapping>
          <servlet-name>insertclient</servlet-name>
          <url-pattern>/putclient.hawa</url-pattern>
       
       </servlet-mapping>

       <servlet>
            <servlet-name>vehiclereg</servlet-name>
            <servlet-class>com.zaic.web.UraServletThree</servlet-class>
       
       </servlet>
       
       <servlet-mapping>
          <servlet-name>vehiclereg</servlet-name>
          <url-pattern>/vehicle.hawa</url-pattern>
       
       </servlet-mapping>

        <servlet>
            <servlet-name>insertvehicle</servlet-name>
            <servlet-class>com.zaic.web.UraServletFour</servlet-class>
       
       </servlet>
       
       <servlet-mapping>
          <servlet-name>insertvehicle</servlet-name>
          <url-pattern>/putvehicle.hawa</url-pattern>
       
       </servlet-mapping>

       <servlet>
            <servlet-name>platenumreg</servlet-name>
            <servlet-class>com.zaic.web.UraServletFive</servlet-class>
       
       </servlet>

        <servlet-mapping>
          <servlet-name>platenumreg</servlet-name>
          <url-pattern>/plate.hawa</url-pattern>
       
       </servlet-mapping>

        <servlet>
            <servlet-name>insertplatenum</servlet-name>
            <servlet-class>com.zaic.web.UraServletSix</servlet-class>
       
       </servlet>
       
       <servlet-mapping>
          <servlet-name>insertplatenum</servlet-name>
          <url-pattern>/putplatenum.hawa</url-pattern>
       
       </servlet-mapping>

       <servlet>
            <servlet-name>cartrans</servlet-name>
            <servlet-class>com.zaic.web.UraServletSeven</servlet-class>
       
       </servlet>

        <servlet-mapping>
          <servlet-name>cartrans</servlet-name>
          <url-pattern>/transfer.hawa</url-pattern>
       
       </servlet-mapping>

         <servlet>
            <servlet-name>dotransfer</servlet-name>
            <servlet-class>com.zaic.web.UraServletEight</servlet-class>
       
       </servlet>
       
       <servlet-mapping>
          <servlet-name>dotransfer</servlet-name>
          <url-pattern>/managetransfer.hawa</url-pattern>
       
       </servlet-mapping>

       
       <listener>
         <listener-class>com.zaic.model.TheContextListen</listener-class>
       </listener>
     
    
    
</web-app>